{
  email {$ACME_EMAIL}
}

{$DOMAIN_NAME} {
  encode zstd gzip

  handle_path /static/* {
    root * /srv/static
    file_server
  }

  handle_path /media/* {
    root * /srv/media
    file_server
  }

  handle /api/* {
    reverse_proxy web:8000
  }

  handle /admin/* {
    reverse_proxy web:8000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
